.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 92px 50px;
}

.header__logo {
    display: block;
    width: 137px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32.8px;
    padding-bottom: 6px;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    list-style: circle;
    
}

.header__link {
    text-underline-offset: 4px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__address {
    display: flex;
    flex-direction: column;
    text-underline-offset: 4px;
}

address {
    justify-self: end;
    width: 240px;
    padding-bottom: 4px;
    color: #000;
    font: inherit;
    font-size: 18px;
    line-height: 135%;
}

.cover {
    position: relative;
    z-index: -1;
    margin-bottom: 180px;
    padding: 165px 50px 50px 50px;
    color: #FFF;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned-text {
   padding-bottom: 20px;
   text-align: start;
}

.aligned-text_center {
    margin-right: -30px;
    padding-bottom: 20px;
    text-align: center;
}

.aligned-text_right {
    margin-right: -30px;
    letter-spacing: 30px;
    text-align: end;
}

.description {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 106px 0px 0px 0px;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18.4px;
}

.cover__description-text {
    text-align: start;
}

.bet-button {
    width: 256px;
    height: 51px;
    border: 1px solid #FFF;
    padding: 0;
    color: inherit;
    font-weight: 500;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
}

.lots {
    margin: 0 24px 118px 24px;
}

.lots__heading {
    padding-bottom: 27px;
    padding-left: 40px;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
    column-gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    display: flex;
    min-height: 596px;
}

.card {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__title {
    z-index: 1;
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    font-style: normal;
    line-height: 120%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-decoration-skip-ink: none;
    text-underline-offset: auto;
    text-underline-position: from-font;
    text-transform: uppercase;
}


.card__text {
    z-index: 1;
    color: #FFF;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration:none;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__card-list-item .overlay {
    position: absolute;
}

.lots__look-more-link {
    display: block;
    padding-top: 30px;
    padding-left: 40px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.about {
    margin: 0 24px 181px 24px;
}

.about__column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    padding-top: 35px;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    margin-left: 47px;
    border-radius: 50%;
    background-color: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__content {
    grid-column: span 2;
}

.about__title {
    margin: 101px 0 100px 0;
    color: #000;
    font-weight: 700;
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #000;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 120%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 50px 82px 50px;
}

.footer .address {
    justify-self: start;
    width: 240px;
    color: #000;
    font: inherit;
    font-size: 18px;
    line-height: 135%;
}

.footer__menu-list {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-align: center;
    list-style: none;
}

.footer__menu-link {
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 48px;

}

.footer__social-list-item {
    width: 48px;
    height: 48px;
    list-style: none;
}

.footer__social-link {
    display: block;
}